footer {
  margin-top: 10vmax; 
  /* padding: 2vmax; */
  background-color: rgb(84, 143, 143);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  height: auto;
  padding: 20px;
  padding: 3rem;
  flex-wrap: wrap;
}

.footerCompanySection {
  display: flex;
  flex-direction: column;
  /* padding: 5px; */
  margin-top: -3vmax;
}

.footerCompanySection .logo {
  width: 12vmax;
  height: auto;
}
.footerCompanySection img {
  width: 8rem;
  height: 3rem;
  padding-top: 10px;
}

.footerCompanySection p {
  padding: 5px 0;
}

.footerCompanySection h4 {
  font-weight: 700;
  padding: 5px 0;
}


.footerCategoriesSection,  .footerHelpSection, .footerGetInTouchSection {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  column-gap: 5;
}

.footerCategoriesSection h4, .footerHelpSection h4, .footerGetInTouchSection h4 {
  font-weight: 700;
color: black;
font-size: 1.5vmax;

}


.footerCategoriesSection a,  .footerHelpSection a, .footerGetInTouchSection a, .footerGetInTouchSection p{
  color: white;
  padding-top: 1.5vmax;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: montserrat ;
}

.socialIconSections{
  margin-top: 10px;

}

.socialIconSections a{
  padding-left: 10px;
  padding-top: 2vmax;
}



@media screen and (max-width : 480px) {
.footerHelpSection{
  padding-top: 2vmax;
}
.footerGetInTouchSection{
  padding-top: 2vmax;
}
} 